{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block body %}
<h1>Мои контакты:</h1>
<h3>
    <a href="https://www.linkedin.com/in/%D0%BD%D0%B0%D1%82%D0%B0%D0%BB%D1%8C%D1%8F-%D0%BB%D0%B8%D1%82%D1%8F%D0%B3%D0%BE-101654254/"
       target="_blank">LinkidIn</a>
    <br><br>
    <a href="https://t.me/Natalia_Litsiaha" target="_blank">Telegram</a>
    <br><br>
    <a href="mailto:natalialitsiaha@gmail.com" target="_blank">Gmail.com</a>
    <br><br>
    <a href="https://github.com/NataliaLitsiaha" target="_blank">Github.com</a>
</h3>

{% endblock %}