{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<br>
<img src="static/img/Natalia.jpg" alt="my photo" class="avatar">
<h1>Наталья Литяго</h1>
<p>Я прошла курсы по программированию на языке <strong>Python</strong>, также курс <strong>HTML&CSS</strong>. Сейчас
    нахожусь в поиске новых возможностей. Буду рада присоединиться к сплоченной команде для совместной работы на
    интересных проектах. В процессе обучения были получены знания фреймворка <em>Django и Flask, Python, SQL, XTML, CSS
    и ООП</em> .</p>

{% endblock %}